


.ml2 .letter {
  line-height: 1em;
}


.hamburger-menu{
  background: none;
  border: none;
  display: inline-block;
	z-index: 5
}

.icon-bar{
	background-color: black;
	display: block;
	height: 6px;
	margin: 0 auto 10px;
	width: 60px;
	border-radius: 10px;
}

.cover{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
		top: 0;
    z-index: 2;
		transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-overlay{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left: 0;
		top: 0;
    z-index: 2;
		transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Logo */


.anime-logo-signs {
  display: flex;
}

.logo-letter {
  overflow: hidden;
  padding: 5px;
}

.bounced {
  transform-origin: 50% 100% 0px;
  transform: translateY(200px) scaleX(.55) scaleY(1);
}

.logo-animation .bounce {
/*   overflow: visible; */
  position: absolute;
  left: 0;
  bottom: 70px
}



.logo-animation .logo-letter svg {
  overflow: visible;
  fill: none;
  fill-rule: evenodd;
}

.logo-animation .line {
  fill: #fff;
  fill-rule: evenodd;
  stroke-linecap: square;
  stroke-width: 1;
  stroke: #fff;
}
